include ./titles/with-icon.pug
include cards/default.pug
-
  var servicesList = [
    {
      title: "Lab and Blood Test",
      desc: "We perform a wide range of biological examinations to meet client’s expectations.",
      img: imgAPI.medical[3]
    },
    {
      title: "Radiology",
      desc: "We provide comprehensive diagnostic imaging services.",
      img: imgAPI.medical[6]
    },
    {
      title: "Ultrasound",
      desc: "We offers a complete panel of testing, including OB/GYN, general, and ultrasound",
      img: imgAPI.medical[5]
    },
    {
      title: "Spirometry",
      desc: "We provide spirometry tests to diagnose asthma.",
      img: imgAPI.medical[4]
    },
    {
      title: "Electrocardiography",
      desc: "One of the service we provide is an electrocardiography.",
      img: imgAPI.medical[3]
    },
    {
      title: "Treadmill",
      desc: "The test includes a complete physical exam.",
      img: imgAPI.medical[2]
    }
  ]

.root
  .carousel-handle
    .carousel-wrap
      .carousel
        .slick-carousel#services_carousel(data-length=servicesList.length)
          .item.show-lg-up
            .carousel-prop
              div
          .item.show-lg-up
            .carousel-prop
              div
          each item in servicesList
            .item
              +card(item.img, item.title, item.desc, $t.medical_landing.services_button)
          .item.show-lg-up
            .carousel-prop
              div
          .item.show-lg-up
            .carousel-prop
              div
  .floating-title
    .container.fixed-width
      .title
        +title-icon($t.medical_landing.services_title, 'library_add')
        nav.arrow
          |
          |
          button#next_services.btn-floating.margin.waves-effect
            i.material-icons arrow_back
          |
          |
          button#prev_services.btn-floating.margin.waves-effect
            i.material-icons arrow_forward
          |
          |